body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.search-container {
    text-align: center;
    margin: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

#searchButton {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
